:root {
	font-size: 24px;
	font-family: "Courier New", Courier, monospace;
	--text-color-main: #212121;
	--text-color-alt: #e0e0e0;
	--text-color-acc: #5c4238;
	--bg-color-main: #fffdd0;
	--bg-color-alt: #fffdd0;
	--bg-color-acc: #4c3228;
	--red: #901407;
	--blue: #007f80;
	--orange: #b8430f;
	--green: #56ae57;
}
@media (max-width: 720px) {
	:root {
		font-size: 12px;
	}
}

html,
body,
#root {
	margin: 0;
	height: 100%;
}

main {
	display: flex;
	gap: 2rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--text-color-main);
	background: var(--bg-color-main);
	height: 100%;
	width: 100%;
}

.board {
	background: var(--bg-color-acc);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
	border: var(--text-color-acc) 0.25rem solid;
	border-radius: 1rem;
}

.square {
	background: var(--bg-color-main);
	border: var(--text-color-acc) 0.25rem solid;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
	height: 5rem;
	font-size: 4rem;
	padding: 1rem;
	cursor: pointer;
	text-align: center;
	color: var(--text-color-alt);
}

.reset {
	background: var(--bg-color-acc);
	color: var(--text-color-alt);
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.5rem;
	border: 0.2rem solid var(--text-color-acc);
	border-radius: 0.5rem;
	font-weight: bold;
	font-size: 1.5rem;
	user-select: none;
	cursor: pointer;
	font-family: "Lucida Sans Unicode";
}

.X {
	background: var(--orange);
}

.O {
	background: var(--blue);
}

.W {
	background: var(--green);
}

.L {
	background: var(--red);
}

.D {
	background: var(--text-color-acc);
}
